body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f9;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100vh; /* Utiliser 100% de la hauteur de la fenêtre */
 
  }
  
  .wrapper {
    width: 400px;
  

    margin:  auto;
    background-color: #fff;
    padding: 20px;
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   /* Espace intérieur du conteneur */
    border: 1px solid #ccc; /* Bordure pour visualisation */
    border-radius: 10px; /* Coins arrondis */
  
  }
  
  h1 {
    text-align: center;
  }
  
  .input-box {
    margin-bottom: 20px;
    position: relative;
  }
  
  .input-box input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .input-box i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #7380ec;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

